################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/herokutest
obj/**/*
bin/**/*
/herokutest.csproj.user
.vscode/**/*
out/**/*