################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/herokutest
obj/**/*
bin/**/*
.vscode/**/*
out/**/*