################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/herokutest
/obj/Debug/netcoreapp2.2
/bin/Debug/netcoreapp2.2
/herokutest.csproj.user
